{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <a href="{% url 'agents:agent_detail' update_agent.id %}" style="text-decoration: none"><i class="fa fa-backward" aria-hidden="true"></i> &nbsp;Back agent List {{ update_agent.user.username }}</a><br>
        <hr>
        Lead Update: {{ update_agent.user.username }}

        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

{% endblock content %}