{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="cl-md-12" style="display: flex">
            <div>
                <h5 class="pt-5" style="font-family: 'Bitstream Charter'">This is all our Agents</h5>
            </div>
            <div style="position: absolute; right: 9%; padding-top: 4%">
                <a class="lead_create" href="{% url 'agents:agent_create' %}" style="text-decoration: none">Create New Agent <i
                        class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="row">
            {% for agent in agents %}
                <div class="col-sm-6 pt-3">
                    <div class="card" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ agent.user.username }}</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="{% url 'agents:agent_detail' agent.id %}" class="" style="text-decoration: none">view more
                                lead details <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock content %}