.lead {
    padding: 10px 6px;
    margin-top: 10px;
    background-color: #f6f6f6;
    width: 100%;
}

.nav-top-bar {
    position: absolute;
    right: 0;
}

.unassignlist{
    font-size: 28px;
    padding-top: 3%;
    text-align: center;
    font-family: math;
}

.category{
    text-align: center;
    font-weight: 600;
    padding-top: 3%;
    font-family: 'FontAwesome';
}