<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        .lead{
            padding: 10px 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
</head>
<body>
<h1>This is all our leads</h1>
{% for lead in leads %}
<div class="lead">
    <a href="lead_details/{{ lead.id }}">{{ lead.first_name }} {{ lead.last_name }}</a>
</div>
{% endfor %}
<a class="lead_create" href="{% url 'lead_create' %}"><button>Create Lead</button></a>
</body>
</html>